jupyter_client==6.1.7
jupyter_console==6.4.0
jupyter_contrib_core==0.3.3
jupyter_contrib_nbextensions==0.5.1
jupyter_core==4.6.3
jupyter_highlight_selected_word==0.2.0
jupyter_latex_envs==1.4.6
jupyter_nbextensions_configurator==0.4.1
nbconvert==5.6.1
nbformat==5.1.3